.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerSpan {
  margin-bottom: 4rem;
}

.btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
}

button {
  color: white;
  padding: 1em;
  margin: 1em;
}

.mathGameWrapper {
  background-color: rgb(146, 115, 146);
  padding: 2rem;
}

.mathGameHeader {
  padding: 1rem;
}

.randomNumber {
  background-color: rgb(202, 198, 198);
  color: black;
  padding: 1rem 3rem;
  margin: 1rem;
  max-width: 10rem;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 8px;
}

.problemWrapper {
  display: flex;
  justify-content: center;
}

.sign {
  margin-top: 2rem;
  /* margin: 1rem; */
}

.answerInput {
  padding: 1rem 3rem;
  margin: 1rem;
  max-width: 10rem;
  text-align: center;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 8px;
}

.score {
  padding: 1rem 3rem;
  margin: 1rem;
  max-width: 10rem;
  text-align: center;
  font-size: 30px;
  background-color: rgb(202, 198, 198);
  color: black;
  align-self: center;
  border: 2px solid black;
  border-radius: 8px;
}

.timer {
  padding: 1rem 3rem;
  max-width: 12rem;
  background-color: rgb(202, 198, 198);
  color: black;
  float: right;
  border: 2px solid black;
  border-radius: 8px;
}

.scoreTimerWrapper {
  display: flex;
  justify-content: space-between;
}